**/.DS_Store
*-debug.log
*-error.log
/.idea
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
/yarn.lock
node_modules
index.yml
id.txt
preview-id.txt
index.json
form.json
oclif.manifest.json

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
